@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    border: border-box;
}

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main {
    margin: auto;
    height: 100%;
    border-radius: 10px;
    background-color: azure;
    margin: 20px;
    padding: 20px;
    
    
}

h1 {
    margin-top: 20px;
}

section {
    margin: auto;
    max-width: 800px;
    padding: 15px;
  
}

.container {
    width: 100%;
    margin: 20px;

}

.container p {
    margin: 10px;
    font-size: 1.5em;
    
}

.container h1 {
    margin: 10px;
    font-size: 2em;
    
}



button {
    font-weight: bolder;
    font-size: 1em;
    width: 300px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

button:hover {
    background-color: #1b1bc7d2;
    color: white;
}